.blog_posts {
  display: flex;
  margin-bottom: 126px;
  .post1 {
    display: flex;
    flex-direction: column;
    
    .post_img {
      height: 100%;
    }
    .blog__post_info {
      // min-height: 300px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .post__info {
        display: flex;
        justify-content: space-between;
        margin: 24px 0;
      }
      .post__title {
        display: flex;
        margin-bottom: 24px;
        flex: 1 1 auto;
      }
      .post_text {
        position: relative;
        bottom: 0;
      }
    }
  }
}
