.footer {
  padding: 128px 160px;
  background-color: #f4f4f4;
  @media (max-width: 1440px) {
    padding: 128px 0;
  }
  @media (max-width: 576px) {
    padding: 64px 0 68px 0;
  }
  & .footer_contact {
    h1 {
      @media (max-width: 576px) {
        font-family: "Red Hat Display", sans-serif;
        font-size: 33px;
        line-height: 50px;
        letter-spacing: 0.05em;
        color: #323232;
      }
    }
    h6:nth-child(2) {
      margin: 32px 0 16px 0;
      @media (max-width: 576px) {
        margin: 18px 0 16px 0;
      }
    }
  }
  & .footer_social {
    @media (max-width: 576px) {
      margin: 48px 0;
    }
    h6:nth-child(-n + 3) {
      margin: 0 0 24px 0;
    }
  }
  & .footer_copy {
  }
}
