.header {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 128px;
  // & .header_logo {
  // }
  & .header__menu {
    display: flex;

    .header__menu_items {
      display: flex;
      .active {
        border-bottom: 3px solid #000;
      }
      li {
        list-style-type: none;
        margin: 0 53px 0 0;
        align-self: center;
        text-decoration: none;
      }
      .search {
        width: 100px;
        border-bottom: 1mm ridge #000;
        border-radius: 10px;
        box-shadow: ;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.1em;
        color: #7b7b7b;
        font-weight: 400;
      }
    }
  }
}
