.posts {
  margin-bottom: 128px;
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  & .heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 48px;
    }

    .post__all {
      display: flex;
      justify-content: space-between;
      @media (max-width: 767px) {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
  & .post_main {
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
    }
    .posts_column {
      display: flex;
      @media (max-width: 767px) {
      }
      .post {
        display: flex;
      }
    }
  }
  & .img {
    img.post_img {
      width: 100%;
      height: auto;
      object-fit: cover;
      @media (max-width: 767px) {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
  & .info {
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      margin-bottom: 0px;
      justify-content: center;
    }

    .posts__tag_date {
      display: flex;
      justify-content: space-between;
      margin: 24px 0px;
      @media (max-width: 767px) {
        margin: 16px 0 24px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p:nth-child(1) {
          margin-bottom: 8px;
        }
      }
    }
    h3.heading_h3 {
      flex: 1 1 auto;
      margin-bottom: 24px;
    }
  }
}
