.container {
  max-width: 1120px;
  margin: 0 auto;
  // width: 100%;
  // padding-right: 16px;
  // padding-left: 16px;
  // margin-right: auto;
  // margin-left: auto;
  @media (max-width: 576px) {
    max-width: 288px;
    margin: 0 auto;
  }
}

.post_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 40px 0;
  .post__all {
    display: flex;
    justify-content: space-between;
    p.arrow_2 {
      margin-left: 8px;
    }
  }
  @media (max-width: 576px) {
    flex-direction: column;
    align-items: flex-start;
    h3 {
      margin-bottom: 8px;
    }
    & {
      margin-bottom: 48px;
    }
  }
}

.img {
  margin-bottom: 24px;
}
.posts__tag_date {
  margin-bottom: 24px;
  @media (max-width: 576px) {
    & {
      margin-bottom: 0px;
    }
    & :first-child {
      margin-bottom: 8px;
    }
    & :nth-child(2) {
      margin: 0 0 24px 0;
    }
  }
}

.post {
  // max-width: 350px;
  padding: 0px 17px;
  // display: flex;
  // flex-direction: column;
  @media (max-width: 576px) {
    max-width: 320px;
  }
}
.posts {
  display: flex;
  margin: 0px -17px;
  @media (max-width: 576px) {
    flex-direction: column;
  }
}
.posts__tag_date {
  display: flex;
  justify-content: space-between;
  @media (max-width: 576px) {
    flex-direction: column;
  }
}
.post_img {
  height: 250px;
  width: 350px;
  // margin-bottom: 24px;
  @media (max-width: 576px) {
    height: 211px;
    width: 288px;
    // margin-bottom: 16px;
  }
}
.posts_text {
  display: flex;
  flex-direction: column;
  .heading_h3 {
    flex: 1 1 auto;
  }
}


.post {
  &__img {

  }

  &__info {

  }

  &__heading {

  }

  &__desc {

  }
}
