.container {
  max-width: 1156px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
