// fonts
.heading_h1 {
  font-weight: 400;
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000;
}
.heading_h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 33px;
  line-height: 50px;
  letter-spacing: 0.05em;
  color: #323232;
}
.heading_h3 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 23px;
  line-height: 38px;
  letter-spacing: 0.1em;
  color: #000;
}
.heading_h4 {
  font-weight: normal;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
}
.heading_h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #565656;
}
.heading_h6 {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #7b7b7b;
  font-weight: 400;
}
.heading_h8 {
  font-family: lato;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
}
.heading_h9 {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #7b7b7b;
}
